/* 1. Imports sempre no topo */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400&family=Inter:wght@300;400;600&display=swap');

/* 2. Diretivas do Tailwind v3 */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 3. Suas camadas customizadas */
@layer utilities {
    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }

    .scrollbar-hide {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}