@import "tailwindcss";

/* Suas fontes e estilos customizados abaixo */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400&family=Inter:wght@300;400;600&display=swap');

:root {
    font-family: 'Inter', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Playfair Display', serif;
}
@theme {
    --color-rafa-pink: #FDF2F8;
    --color-rafa-rose: #BE185D;
}
@layer utilities {
    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }

    .scrollbar-hide {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}